#navbar {
  align-items: center;
  background-color: var(--bg-dark);
  display: flex;
  height: var(--nav-height);
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.nav-link {
  color: whitesmoke;
  margin: 1rem;
}

.main-logo-container {
  height: 90%;
  margin-top: 0.5vh;
}

#main-logo {
  height: 90%;
  margin: auto;
}